.members{
    padding: 20px;
    margin-left: 250px;
    height: 100vh;

    .search-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        gap: 30px;

        .search-form{
            width: 100%;
            position: relative;

            input{
                width: 100%;
                padding: 12px 10px;
                border: none;
                border-radius: 5px;
                background-color: white;
            }

            i{
                position: absolute;
                z-index: 2;
                transform: translateY(-50%);
                font-size: 16px;
                color: $purple3;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                font-size: 17px;
                font-weight: bold;
            }

        }

        .add-member{
            border-radius: 5px;
            padding: 10px 15px;
            width: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background: #AC3931;
            color: white;
            border: 1px solid #AC3931;

            &:hover{
                background-color: rgb(240, 55, 52);
                border-color: rgb(240, 55, 52);
                transition: all 0.2s ease-in-out;
                cursor: pointer;
            }

        }
        
    }
    
    
    .table-actions{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .members-text{
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 30px;

            h1{
                font-size: 22px;
                text-transform: capitalize;
                font-weight: 600;
                color: 	#36393e;
                margin-bottom: 10px;
            }
    
            small{
                color: rgb(156, 156, 156);
            }
        }

        .action-buttons{
            display: flex;
            align-items: center;
            color: #f4f4f3;
            gap: 1px;

            .filter-button, .sort-button{
                border: none;
                padding: 12px 10px;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                background-color: #282b30;

                &:hover{
                    cursor: pointer;
                    background-color: black;
                    color: white;
                    transition: all 0.2s ease-in-out;

                }
                
            }

            .filter-button{
                width: 150px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            .sort-button{
                width: 150px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
    
        } 
    }


    &-container{
        table{
            border-collapse: separate !important;
            border-spacing: 0;
            width: 100%;
            text-align: left;

            td,th{
                font-size: 12px;
            }


            .separation-row{
                height: 10px;
            }

            thead{
                background-color: $purple2;
                color: white;
                font-weight: bold;
                text-align: center;
                
                th{
                    padding: 10px 10px;
                    // border: 1px solid #F3F2F7;
                }

                tr th:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                tr th:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                  }
            }

            tbody{
                color: black;
                border-radius: 5px;
                background-color: white;
                
                td{
                    padding: 10px 10px;
                    border: 1px solid #F3F2F7;
                }

                tr:first-child td:first-child {
                    border-top-left-radius: 10px;
                  }
                  
                tr:first-child td:last-child {
                    border-top-right-radius: 10px;
                  }
                  
                tr:last-child td:first-child {
                    border-bottom-left-radius: 10px;
                  }
                  
                tr:last-child td:last-child {
                    border-bottom-right-radius: 10px;
                  }
            }

           .cell-center{
            text-align: center;
            // padding: 10px 20px;
           }

           .row-action{
            width: 30px;
           }
        }

        
    }
}
