.sidebar{
    width: 250px;
    height: 100vh;
    background-color: white;
    color: black;
    font-size: 16px;
    position: fixed;
    // box-shadow: 3px 0 3px -1px darkgray;
    
    .sidebar-container{
        padding: 20px;
    }

    .logo{
        text-align: left;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;
        
        h1{
            font-size: 24px;
            font-weight: 800;
            color: #1e2124;

            span{
                font-size: 30px;
                color: $purple3;
                font-weight: 800;
            }
        }

        small{
            color: rgb(156, 156, 156);
        }
        
    }

    .admin-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        gap: 20px;

        .img-welcome{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            .img-cont{
                width: 35px;
                height: 35px;
    
                img{
                    width: 100%;
                    border-radius: 100%;
                }
            }

            .welcome-msg{
                font-size: 14px;

                .name{
                    font-weight: bold;
                }
            }

            .chevron-down{
                width: 10px;
                height: 10px;
            }

        }

        
    }

    .navigation-container{
    
        h3{
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 15px;
        }
    
        .sidebar-list{
            .sidebar-link{
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 5px;
                text-decoration: none;
                color: black;
                gap: 10px;
                margin-bottom: 5px;
                // background-color: white;

                .icon{
                    text-align: center;
                    width: 20px;
                }

                i{
                    color: $purple2;
                    font-size: 17px;
                }


                &:hover{
                    background-color: $purple2;
                    color: white;
                    transition: all 0.2s ease-in-out;

                    i{
                        color: white;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }
    }

    
}